.env`r`n`r`n# Python`r`n__pycache__/`r`n*.py[cod]`r`n*.pyo`r`n*.pyc`r`n`r`n# Virtual env`r`nkess/`r`nvenv/`r`nenv/`r`n`r`n# Django`r`n*.log`r`ndb.sqlite3`r`n`r`n# OS`r`n.DS_Store`r`nThumbs.db`r`n`r`n# Test files`r`ntest_*.py
.env 
